@import 'color_palette';

.auth {
  display: flex;
}

.auth__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 120px;

  a {
    border-bottom: 1px solid black;
    transition: all 0.3s ease;

    &:hover {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}

h1 {
  font-size: 36px;
  margin-bottom: 60px;
}

form {
  width: 322px;
  margin-bottom: 40px;

  input {
    border: 1px solid $dark-gray;
  }

  .btn {
    width: 100%;
  }
}

.auth__picture {
  width: 50%;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.error-message {
  color: $pale-red;
  text-align: center;
}
