@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display&display=swap');

@import 'color_palette';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

header {
  nav {
    display: flex;
    gap: 60px;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  background-color: $light-gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 14px;
}

#user-actions-nav {
  padding-left: 60px;
  border-left: 1px solid $dark-gray;
}

main {
  background-color: $base-color;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  padding: 30px;
  font-size: 12px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    
    label {
      color: $dark-gray;
    }

    input {
      height: 50px;
      padding: 10px;
      border-radius: 6px;
    }
  }
}

.btn {
  font-size: 16px;
  font-weight: 600;
  height: 63px;
  border-radius: 10px;
  padding: 22px 38px;

  &.btn--primary {
    background-color: $primary-color;
    color: white;
    border: none;
  }
}
